[[source]]
url = "https://pypi.org/simple"
name = "pypi"
verify_ssl = true

[packages]
aiohttp = "*"
click = "*"
jsonpickle = "*"
requests = "*"
tabulate = ">=0.8.0"
xmltodict = "*"
zeroconf = ">=0.24.0"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"
