name: Release Drafter

on:
  push:
    branches: [master]
  pull_request:
    types: [opened, reopened, synchronize, labeled, unlabeled]
  pull_request_target:
    types: [opened, reopened, synchronize, labeled, unlabeled]

permissions:
  contents: write
  pull-requests: write

jobs:
  update_release_draft:
    runs-on: ubuntu-latest
    steps:
      - uses: release-drafter/release-drafter@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
